body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) brightness(2);
}
